{
  "extends": [
    "plugin:prettier/recommended",
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "singleAttributePerLine": true
      }
    ]
  }
}